@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  @apply font-poppins;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }

    @keyframes scan {
      0% {
        top: 0;
      }
      100% {
        top: 100%;
      }
    }
    
  /* Custom class to hide the scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


@layer utilities {
  .show-mobile-only {
    @apply block lg:hidden;
  }
}


.goog-te-gadget-simple {
  background-color: #FFF;
  border-left: 1px solid #D5D5D5;
  border-top: 1px solid #9B9B9B;
  border-bottom: 1px solid #E8E8E8;
  border-right: 1px solid #D5D5D5;
  font-size: 10pt;
  display: inline-flex; /* Ensure elements stay inline and use flexbox for alignment */
  align-items: center; /* Align icon and text vertically */
  padding: 1px 5px; /* Adjust padding for better spacing */
  cursor: pointer;
}

.goog-te-gadget-simple img {
  display: inline-block; /* Ensure the icon stays inline */
  margin-right: 5px; /* Add spacing between the icon and text */
  height: 16px; /* Adjust size if necessary */
  width: auto;
}


body {
  @apply bg-[#FFEFD3]; /* Change the background globally */
}